discord.py~=1.6.0
motor~=2.1.0
dnspython~=1.16.0
parsedatetime~=2.4
nudenet~=2.0.3
tensorflow~=1.15.0
imagehash~=4.1.0
cachetools~=4.1.1
emoji~=1.2.0
git+https://github.com/theskumar/python-dotenv@master
